<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <div>
      <a href='/new'>Make a New Post</a>
    </div>
    <div>
      <% messages.forEach(message => { %>
        <div>
          <h3><%= message.text %></h3>
          <h4><%= message.user %></h4>
          <h5><%= message.added %></h5>
        </div>
      <% }) %>
    </div>
  </body>
</html>
